@keyframes fadeGlow {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

h1 {
  animation: fadeGlow 3s infinite;
}

#movingName {
  display: inline-block;
  position: relative;   
  left: -200px; 
  white-space: nowrap;
  font-weight: bold;
  color: #FFFF99;
}
