body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
}


@keyframes moveAcross {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.moving-text {
  display: inline-block;
  font-weight: bold;
  color: #FFFF99;
  white-space: nowrap;
  animation: moveAcross 8s linear infinite;
}


.Highlight {
  background-color: yellow;
  color: black;
  padding: 2px 4px;
}


.Italics {
  font-style: italic;
  font-weight: bolder;
}
