@keyframes fadeGlow {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

h1 {
  animation: fadeGlow 3s infinite;
}

nav a.active {
  text-decoration: underline;
  color: yellow !important;
}

body {
  background-color: #212325;
  color: #FFFF99;
}
#movingName {
  display: inline-block;
  position: relative;   
  left: -200px; 
  white-space: nowrap;
  font-weight: bold;
  color: #FFFF99;
}

body { border: 5px solid red; }
